.footer {
  background: #0b0b0b;
  color: #ccc;
}

.footer-logo-img{
  width: 80px;
  height: 55px;
}

.footer-logo-text {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.footer-about {
  padding-top: 15px;
  font-size: 1rem;
  color: #aaa;
  line-height: 1.4;
  max-width: 100%;
}

.footer-heading {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  color: #bbb;
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.footer-contact a {
  color: #bbb;
  text-decoration: none;
} 

.footer-divider {
  border-color: #222;
}

.footer-socials a {
  font-size: 1.5rem;
  border: 2px solid #6466faa3;
  border-radius: 5px;
  color: #b1b1b1;
  transition: color 0.2s;
}

.footer-socials a:hover {
  color: #fcfcfc;
}

.footer-copy {
  font-size: 0.9rem;
  color: #888;
}

.footer-made {
  font-size: 0.9rem;
  color: #666;
}
